@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

:root {
  --bg-main: #131722;
  --light-bg: #24baef;
  --main-clor: #fff;
  --border-clor: #a8a8a83d;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

.border {
  height: 1px;
  background-color: var(--border-clor);
}

body {
  font-family: "Montserrat Alternates", sans-serif !important;

  background-color: #131722;
  color: var(--main-clor);
}
